* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #000;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
    font-size: 1,5em;
}

a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

ul {
  list-style-position: inside;
  font-size: 1,3rem
}

ol {
  list-style-position: inside;
  font-size: 26px;
}
