* {
    box-sizing: border-box;
    text-align: center;
}


header {
    margin: 1rem
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #000;
    background-color: whitesmoke;
    background-image: url('../img/1img.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width:100%;
    text-align: center;
}

.roboto-a {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav ul {
    border:5px solid darkblue;
    text-shadow: 2px 2px 5px orange;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
    font-size: 1,5em;
}

a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

ul {
  list-style-position: inside;
  font-size: 1,3rem;
}

ol {
  list-style-position: inside;
  font-size: 26px;
}

footer {
    right-margin: 50px;
}
